body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #363062;
    color: #F99417;
    padding: 10px;
  }
  
  .logo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    letter-spacing: 2px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    text-align: right;
    }
  
  .nav-links li {
    margin-right: 80px;
  }

  .nav-links li:hover{
    text-decoration: underline;
    text-shadow: 2px 2px 5px red;
  }
  
  .nav-links li a {
    color: #F5F5F5;
    text-decoration: none;
  }
  
  /* Hero Section */
  header {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  /* About Me Section */
  #about {
    padding: 50px;
    text-align: center;
  }

  #education {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
  }

  .about-education{
    text-align: center;
  }
  
  /* Skills Section */
  #skills {
    padding: 50px;
    text-align: center;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    display: inline-block;
    margin: 0 10px;
  }
  
  /* Projects Section */
  #projects {
    padding: 50px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project a {
    display: block;
    margin-top: 10px;
  }

  #certifications{
    text-align: center;
  }
  .about-certifications{
    text-align: center;
  }

  #hobbies{
    text-align: center;
    background-color: #f2f2f2;
  }

  .about-hobbies{
    text-align: center;
  }
  
  /* Contact Section */
  #contact {
    padding: 50px;
    text-align: center;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #contact-form label {
    margin-bottom: 10px;
  }
  
  #contact-form input,
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  #contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  